.open-brewery-db {
    padding: 10px;
    padding-left: 0px;
    margin-bottom: 15px;
    background: black;
    opacity: 0.8;
    width: 100vw;
    min-height: 100vh;
}

.result {
    padding: 15px;
}

.info {
    text-align: center;
    font-size: 15px;
}

.open-brewery-db-form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-hdr {
    text-align: center;
    font-size: 15px;
    margin: 0;
}

#postal-label  {
    padding: 5px;
    display: flex;
    justify-content: center;
}

#postal-code {
    padding: 5px;
}

#submit-bttn {
    margin: 5px;
    padding: 5px;
}

.search-form {
    padding: 15px;
    text-align: center;
}

.name-hdr, .postal-hdr, .state-hdr, .phone-hdr, .website-hdr {
    font-size: 18px;
    margin: 0;
}

.result-text {
    font-size: 18px;
    margin: 5px;
}

.result-text:hover {
    font-size: 20px;
    color: pink;
}

.brewery-link:link {
    text-decoration-line: underline;
}

.brewery-link:hover {
    font-size: larger;
    color: pink;
}

.website:link {
    text-decoration-line: underline;
}

.website:hover {
    font-size: larger;
    color: pink;
}

@media screen and (min-width:550px) {

    .info {
        font-size: 20px;
    }

    .name-hdr, .postal-hdr, .state-hdr, .phone-hdr, .website-hdr {
        font-size: 22px;
    }
    
    .result-text {
        font-size: 20px;
    }

    #postal-label {
        font-size: 18px;
    }

    .search-hdr {
        font-size: 20px;
    }

    #postal-code {
        font-size: 20px;
    } 

    #submit-bttn {
        font-size: 20px;
    }

    .result-text:hover {
        font-size: 25px;
    }

}

@media screen and (min-width:850px) {

    .info {
        font-size: 23px;
    }

    .name-hdr, .postal-hdr, .state-hdr, .phone-hdr, .website-hdr {
        font-size: 25px;
    }
    
    .result-text {
        font-size: 23px;
    }

    #postal-label{
        font-size: 20px;
    }

    .search-hdr {
        font-size: 23px;
    }

    #postal-code {
        font-size: 23px;
    } 

    #submit-bttn {
        font-size: 23px;
    }

    .result-text:hover {
        font-size: 30px;
    }

}