.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#drink-name, #main-liquor, #ingredients, #instructions {
    padding: 10px;
}

#drink-name-input, #main-liquor-input, #ingredients-input, #instructions-input {
    padding: 10px;
    width: 285px;
}

#ingredients-input, #instructions-input {
    height: 285px;
}

#submit-btn {
    margin: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .instructions, .ingredients {
    width: 285px;
    height: 285px;
    padding: 5px;
}

#drink-name-input, #main-liquor-input {
    width: 285px;
    padding: 5px;
} */