.post-form {
    padding: 25px;
}

.instructions, .ingredients {
    width: 285px;
    height: 285px;
    padding: 5px;
}

#drink-name-input, #main-liquor-input {
    width: 285px;
    padding: 5px;
}