.about {
    display: block;
    padding: 25px;
    padding-left: 0px;
    margin: 0;
    background: black;
    opacity: 0.8;
    width: 100vw;
    min-height: 100vh;
}

.collections:link {
    text-decoration-line: underline;
}

.random:link {
    text-decoration-line: underline;
}

.post:link {
    text-decoration-line: underline;
}

.collections:hover {
    color: pink;
}

.random:hover {
    color: pink;
}

.post:hover {
    color: pink;
}

.about-hdr {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.why, .how {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}

.how-text {
    list-style-type: none;
    padding-left: 0px;
}

.why-text, .how-text {
    text-align: center;
    font-size: 18px;
    width: 80%;
    transform: translate(10%);
}

@media screen and (min-width:550px) {

    .why, .how {
        font-size: 22px;
    }

    .why-text, .how-text {
        font-size: 20px;
    }

}

@media screen and (min-width:850px) {

    .why, .how {
        font-size: 26px;
    }

    .why-text, .how-text {
        font-size: 24px;
    }

}