.collection {
    padding: 10px;
}

.results, .browse, .main-search-form {
    text-align: center;
}

.collection-search-result {
    padding: 15px;
}

/* NOT WORKING */
/* .cocktail-api-section, .openbrewery-api-section {
    display: flex;
    flex-direction: row;
} */