.cocktail-db {
    padding: 25px;
    padding-left: 0px;
    background: black;
    opacity: 0.8;
    width: 100vw;
    min-height: 100vh;
}

.cocktail-link:link {
    text-decoration-line: underline;
}

.cocktail-link:hover {
    font-size: larger;
    color: pink;
}

.info {
    text-align: center;
}

.api-result {
    text-align: center;
    padding-bottom: 10px;
    margin: 5px;
}

.cocktail-db-api {
    padding: 15px;
    text-align: center;
}

#random {
    padding: 15px;
    font-size: 15px;
}

#random:hover {
    font-size: 20px;
    background-color: pink;
}

#cocktail-img {
    max-width: 80%;
    height: auto;
}

.drink-name, .glass, .ingredients, .instructions {
    font-size: 20px;
    margin: 5px;
    padding: 5px;
}

.text {
    font-size: 20px;
    margin: 1px;
}

@media screen and (min-width:650px) {

    .cocktail-db-api {
        padding: 25px;
    }

    #cocktail-img {
        max-width: 60%;
        height: auto;
    }

    #random {
        padding: 20px;
        font-size: 20px;
    }

    #random:hover {
        font-size: 23px;
    }
    

}

@media screen and (min-width:875px) {

    #cocktail-img {
        max-width: 40%;
        height: auto;
    }

    #random {
        padding: 25px;
        font-size: 25px;
    }

    #random:hover {
        font-size: 26px;
    }
    

}